version: '3.9'

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: central_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: central_kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      # Si quieres que otros hosts vean kafka, sustituye por la IP real:
      # KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://192.168.1.45:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  central:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: central_app
    depends_on:
      - kafka
    environment:
      - KAFKA_HOST=kafka
      - KAFKA_PORT=9092
      - CENTRAL_CP_PORT=5001
      - CENTRAL_API_PORT=8000
    ports:
      - "8000:8000"
      - "5001:5001"
    volumes:
      - ./app/data.json:/central/app/data.json
    restart: unless-stopped

networks:
  default:
    driver: bridge
